.map-wrap {
  position: relative;
  width: 100%;
  height: calc(50vh); /* calculate height of the screen minus the heading */
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

button.layer {
  margin: 5px 0;
  padding: 8px 12px;
  background-color: #4a8ad8;
  color: rgb(232, 222, 222);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family:
    Montserrat,
    Segoe UI,
    Roboto,
    Ubuntu,
    Cantarell,
    Noto Sans,
    sans-serif;
  font-weight: 600;
  font-size: larger;
}

button.layer.active {
  background-color: #59a0f6;
}

input {
  width: 50px;
  height: 4px;
}
